Hi <%= @person.first_name %>,
<p></p>
This is your final confirmation for the Women’s Spiritual Retreat on October 4-6 at the YMCA of the Rockies in Estes Park. Please review this information and let me know if there are any updates. In the next few days you will receive a separate email with information regarding general information and the retreat schedule. Attached please find the logistical information.
<p></p>
At this point, you should have received an email from Joanne with any updates concerning the retreat.  If you have not received this email, please check your spam folder and contact Joanne (sensabama@aol.com) as soon as possible.
<p></p>
Please review the information below and let me know if there are any changes.
<p></p>
<% @params.each do |p| %>
  <% title = p[0] %>
  <% value = p[1] %>
  <%= title %>: <%= value %><br>
<% end %>
<p></p>
<% if @person.occupancy == 3 %>
You are currently registered for a triple occupancy room, which is equipped with 2 queen beds and 1 pullout couch.
<% end %>
<p></p>

<% if (@person.meal_preference.eql?('gluten_free')) %>
You have requested a gluten free meal option.  While the YMCA offers gluten free options, the selection may be limited.  Also please note that the food is not prepared in a separate kitchen.
<% end %>
<p></p>
Please email myself or Joanne (sensabama@aol.com) if you have further questions.
<p></p>
Thanks! We're looking forward to spending this special time with you :-)
<p></p>
Susan
<p></p>
