Hi <%= @person.first_name %>,
<p></p>
Thank you for registering for the 2013 Women's Spiritual Retreat. This is a confirmation of your registration status. Please review the information below and let me know if there are any changes.
<p></p>
<% @params.each do |p| %>
  <% title = p[0] %>
  <% value = p[1] %>
  <%= title %>: <%= value %><br>
<% end %>
<p></p>
<% if (@person.balance_due > 0.0) %>
Your current balance of <%= number_to_currency(@person.balance_due) %> is due by August 31. Please contact me if you have any questions regarding payment.
<% end %>
<p></p>
<% if @person.occupancy == 3 %>
You are currently registered for a triple occupancy room, which is equipped with 2 queen beds and 1 pullout couch.
<% end %>
<p></p>
<% if ( (@person.needs_ride.blank?) && (@person.can_drive_num.blank?) ) %>
The retreat will be held at the YMCA of the Rockies in Estes Park.  If you are interested in participating in a carpool, please send me an email and indicate if you can drive (and number of occupants) or if you need a ride.
<% end %>
<p></p>
<% if (@person.meal_preference.eql?('none')) %>
The YMCA can accommodate vegetarian or gluten free meal options (not vegan, but there is a salad bar).  Please note that these options are offered with the buffet but do not come from a separate kitchen. It would be extremely helpful if you could reply to this message with your meal preference in the subject of the email, even if you don't have  a preference so we can provide the YMCA with accurate information as soon as possible.  I sincerely apologize for the urgency of this information. You can also call myself (303-818-5742) or Joanne (303-552-1396/sensabama@aol.com).
<% end %>
<p></p>
<p></p>
You will receive additional information closer to the retreat. 
<p></p>
Please don't hesitiate to email me if you have further questions. 
<p></p>
Thanks!
<p></p>
Susan
