Hi <%= @person.first_name %>,
<p></p>
Thank you for registering for the 2014 Women's Spiritual Retreat. 
<p></p>
The retreat will be held at the YMCA of the Rockies in Estes Park from October 3-5.  The topic for the year's retreat is "Living Sober Higher Powered: The Steps in My Life".
<p></p>
This is a confirmation of your registration status. Please review the information below and let me know if there are any changes.
<p></p>
<% @params.each do |p| %>
  <% title = p[0] %>
  <% value = p[1] %>
  <%= title %>: <%= value %><br>
<% end %>
<p></p>

<% if (@person.paid_amount == 0 ) %>
Please note that you must pay a deposit by September 15 in order to hold your spot.
<% end %>

<% if (@person.balance_due > 0.0) %>
Your current balance of <%= number_to_currency(@person.balance_due) %> is due by September 23th. Please contact me if you have any questions regarding payment.
<% end %>
<p></p>

<% if @person.occupancy == 3 %>
You are currently registered for a triple occupancy room, which is equipped with 2 queen beds and 1 pullout couch.
<% end %>
<p></p>

The YMCA can accommodate vegetarian or gluten free meal options (not vegan, but there is a salad bar).  These options are offered with the buffet but do not come from a separate kitchen. 
<p></p>

<% if (@person.scholarship_applicant ) %>
You have applied for a scholarship.  Please submit an email to wsr.serenity@gmail.com (with the word 'Scholarship Request' in the subject) describing why you are requesting the scholarship. Please note that only partial scholarships are available. Scholarship recipients will be registered for a triple occupancy room and there will be some service positions that may need to be filled.
<% end %>
<p></p>
You will receive additional information closer to the retreat. 
<p></p>
Please don't hesitiate to contact me if you have further questions.
wsr.serenity@gmail.com (720-456-9997).  Email is preferred.
<p></p>
Thanks!
<p></p>
Susan
