Hi <%= @person.first_name %>,
<p></p>
Yaaa!  The retreat is finally upon us and we are looking forward to sharing this beautiful experience with you.
<p></p>
<p></p>
This is your registration information.  Please review and let me know if there are any changes.
<p></p>
<% @params.each do |p| %>
  <% title = p[0] %>
  <% value = p[1] %>
  <%= title %>: <%= value %><br>
<% end %>
<p></p>
<% if (@person.balance_due > 0) %>
You currently have an outstanding balance of <%= number_to_currency(@person.balance_due) %>. It is essential that we receive your payment immediately. 
<% end %>
<p></p>
<% if @person.occupancy == 3 %>
You are currently registered for a triple occupancy room, which is equipped with 2 queen beds and 1 pullout couch.
<% end %>
<p></p>
<% if (@person.meal_preference.eql?('gluten_free')) %>
You have requested a gluten free meal option.  While the YMCA offers gluten free options, the selection may be limited.  Also please note that the food is not prepared in a separate kitchen.
<% end %>
<p></p>
Thanks! We're looking forward to seeing you :-)
<p></p>
Susan
<p></p>
