// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  td {
    vertical-align: top;
    text-align: left;
    padding: 5px;
  }
  .debit {
    background-color: orangered;
  }
  .credit {
    background-color: lime;
  }
  .pending {
    background-color: yellow;
  }

